# MAC OS
.DS_Store

# Répertoire à ignorer
img-a-trier/

.vscode/

# anciens fichiers
index-old.html
index-old1.html
index-old2.html
old-indexresponsive.html
old-portfolio.html
style-old.css
script-old2.js


