/* RESET CSS */
/* Nous cassons (reset) l'effet d'héritage pour toutes les balises susceptibles d'être concernées */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,b, u, i, center, dl, dt, dd, ol, ul, li,fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/* font-family:; */
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
}

/* POLICES */
@font-face { /* utilisation d'une police css3 à l'aide d'une url */
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto"), local("Roboto"), url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
}

/* <weight>: Use a value from 100 to 900 */
.roboto-normal{
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* COULEURS */
/*
fond écran : 
cyan
gris (texte): rgb(128, 128, 128)
pink
white : #ffff
solid gold (hover on nav bar)
goldenrod : rgb(218, 165, 32) / #daa520

footer : bg color : gris rgb(128, 128, 128)
*/


/* GENERAL SETTINGS */
html{
	box-sizing: border-box;
}
body{
	background-color: rgba(0, 0, 0, 0.8);
	color: #fff;
	
}
.container{
	margin : O, auto;  /* pour centrer automatiquement mon site */
}
h1{
	font-family : "Roboto";
	font-size: 4rem;
	color : #fff;
	margin: 20px 0 15px 20px;
	text-align: center;
}
h2{
	font-family : "Roboto";
	font-size : 2.5em;
	color : #ffff;
	margin : 1rem 0.5rem 1rem 2rem;
	padding-left : 0.5em;
	border-left: 7px solid cyan;
	text-align: left;
}
p{
	font-family : "Roboto";
	font-size: 1.25em;
}
.ulsection3 li{
	list-style-type: disc;
	font-family: "Roboto";
}
.flex-column{
	display : flex;
	flex-direction: column;
	justify-content:flex-start;
	align-items: left;
}
.flex-row{
	display : flex;
	flex-direction: row;
	justify-content:left;
}
/* HEADER */
/* NAV BAR */
.navbar{
	/* position: absolute; */
	/* left: 0;
	right: 0; */
	width: 100%;
    margin: 0px auto 40px auto;
    position: sticky;
    top: 0px;
	padding: 40px 0 50px;
}
.navbarul{
	list-style-type: none;
}
.navbarul li{
	float: left;
    width: 33%;/*100% divisé par le nombre d'éléments de menu*/
    text-align: center;/*Centre le texte dans les éléments de menu*/
	font-size: 1.25em;
}
.navbar li a{
	display: inline-block; /*Toute la surface sera cliquable*/
    text-decoration: none;
	color:#fff;
	font-family: 'Roboto';
	border-bottom: 2px solid transparent;/*Evite le décalage des éléments sous le menu à cause de la bordure en :hover*/
    padding: 10px 0px;/*Agrandit le menu et espace la bordure du texte*/
}

.navbar li a:hover{
    color: cyan;
    border-bottom: 2px solid gold;
}

/* ******************** */
/* PAGE INDEX - ACCUEIL */
/* ******************** */

/* SECTION 1  WARNINGS */
#warning1, #warning3{
	display: inline-block;
	width: 100%;
	border-bottom: 8px solid blue;
	border-top: 8px solid green;
	background-color: crimson;
	font-size: 1.5em;
	line-height: 31px;
	text-align: center;
	color: #000;
	padding : 10px 15px;
	/* animation: defilement-rtl 15s infinite linear; */
	animation-name: defilement-ltr;       /* référence à la règle @keyframes left-to-right */
	animation-duration: 18s;               /* valeur à ajuster suivant la longueur du message */
	animation-iteration-count: infinite;  /* boucle continue */
	animation-timing-function: linear;    /* pas vraiment utile ici */
	position: relative;
	overflow: hidden;
}
#warning1{
	margin-top: 1em;
	font-size: 2.5em;
}
#warning2{
	display: inline-block;
	width: 100%;
	border-bottom: 8px solid cyan;
	border-top: 8px solid cyan;
	background-color: goldenrod;
	font-size: 2em;
	font-style: italic;
	line-height: 31px;
	text-align: center;
	color: #000;
	/* margin: 8px 30px 8px 30px; */
	padding : 10px 15px;
	/* animation: defilement-rtl 15s infinite linear; */
	animation-name: defilement-rtl;       /* référence à la règle @keyframes right-to-left */
	animation-duration: 15s;               /* valeur à ajuster suivant la longueur du message */
	animation-iteration-count: infinite;  /* boucle continue */
	animation-timing-function: linear;    /* pas vraiment utile ici */
	position: relative;
	overflow: hidden;
}

@keyframes defilement-ltr {
	0% {
		transform : translateX(-100%);  /* commence hors de l'écran à gauche */
		/* background: tomato;
		color:#3e8e41;
		left: -100px;
		top: 0px; */
	  }
	  100% {
		transform : translateX(100%);  /* termine hors de l'écran à droite */
		/* background: yellow;
		left: 0px; */
		/* top: 200px; */
	  }
  }

  @keyframes defilement-rtl {
	0% {
		transform: translateX(100%);  /* commence hors de l'écran à droite */
		/* background: #16a085;
		color: orange;
		right: -200px;
		top: 0px; */
	  }
	  100% {
		transform : translateX(-100%);  /* termine hors de l'écran à gauche */
		/* background: yellow;
		right: 100px; */
		/* top: 200px; */
	  }
  }

/* SECTION 2 A PROPOS */

.apropos {
    transition: opacity 0.5s ease; /* Ajoute une transition sur l'opacité */
}
.hidden{
	display: none;
}
.show{
	display: flex;
	flex-direction: row;
	justify-content: left;  /* Aligne les éléments à gauche de l'axe horizontal (row) */
	align-items:flex-start; /* Aligne les éléments au début de l'axe vertical */
}

#second > p:first-of-type{
	font-size: 2.5em;
	text-align: center;
	margin: 0.25em 0 1em 0;
	color: rgb(128, 128, 128);
}
#second p{
	font-size: 2.5em;
	text-align: left;
	margin: 1em 0 1em 1em;
}
#photo{
	width: 15%;
	padding: 0.10em;
}
#photo img{
	height : 8rem;
	margin: 1.75em 0 0 3.25em;
}
#texteapropos{
	width: 85%;
	font-size: 0.5em;
	align-items: left;
	padding-right: 1.5em;
}
/* #texteapropos span:first-of-type{
	color : cyan;
	font-size: 2.5em;
} */
#texteapropos span{
	color: pink;
	font-weight: bold;
}


/* SECTION 3 COMPETENCES & STACK */

#third{
	margin-top: 2em;
	justify-content: space-evenly;
}
#third ul{
	text-align: left;
	font-size: 1.25em;
	margin: 0.5em 0 0.5em 3.75em;
}

/* Mon stack */
#monstacktitre {
	position: relative; /* Important : le conteneur doit être positionné */
};

/* .titre-container {
	position: relative; /* Le conteneur du titre et de la flèche doit être positionné */
	/*display: inline-block; /* Pour que le conteneur prenne la largeur du contenu */


.titre-container {
	position: relative;
	/* display: flex; /* Utiliser flex pour aligner les éléments */
	/*align-items: center; Aligner verticalement les éléments */
};

#monstack {
	position: relative;
	z-index: 1;
	/*margin-right: -20px;  Ajuster cette valeur pour rapprocher la flèche */
};

.flechemauve {
	position: absolute;
	z-index: 2;
	margin-right: 130px;
	/* margin-top: 10px; */
};



/* SECTION 4 PORTFOLIO */

/* SECTION 5 CONTACT */
#contact{
	justify-content: center;
	align-items: center;
}
#contact p{
	font-size: 1.5em;
	text-align: center;
}

button{
	width : 16rem;
	font-family: "Roboto";
	background-color : slateblue;
	color : white;
	font-size : 1.5em;
	align-self:center;
	/* margin : 1rem 10rem 1rem 10rem; */
	padding: 1.5rem;
	border-radius: 4px;
	transition: ease 1s;
}

button:hover{
	/* box-shadow : 0 0 5px cyan, O O 25px cyan, 0 0 50px cyan, 0 0 100px cyan, 0 0 200px cyan; */
	box-shadow : 7px 7px 10px 5px cyan;
	background-color: rgb(44, 244, 244);
	color: #000;
	font-size: 1.75em;
	opacity: 0.7;
}
button:active {
	background-color: cyan;
	box-shadow: 0 5px #666;
	transform: translateY(10px);
  }

	/* animation : bounce 0 5s infinite;
}
@keyframes button{
	from {
		transform: translateX(0%);
	}
	
	to {
		transform: translateX(100%);
	}
	} 
	ul li{
		font-size: 1.20em;
		list-style-type :square;
		color :darkolivegreen;
	}
	.apropos{
		border: 8px;
		background-color: black;
		margin :20px;
	}
	.apropos p{
		font-size : 2rem;
		color : #ffff;
		text-align: center;
	}

/* SECTION 6 FOOTER */

footer{
	background-color: rgba(128, 128, 128, 0.5);
	width: 100%;
	height: 10vh;
}
#carouselstack{
	display: inline-block;
	width: 100%;
	/* background-color: rgba(128, 128, 128, 0.5); */
	font-size: 1em;
	line-height: 20px;
	text-align: center;
	color: #000;
	/* margin: 8px 30px 8px 30px; */
	padding : 5px 5px;
	/* animation: defilement-rtl 15s infinite linear; */
	animation-name: defilement-rtl;       /* référence à la règle @keyframes right-to-left */
	animation-duration: 35s;               /* valeur à ajuster suivant la longueur du message */
	animation-iteration-count: infinite;  /* boucle continue */
	animation-timing-function: linear;    /* pas vraiment utile ici */
	position: relative;
	overflow: hidden;
}
@keyframes defilement-rtl {
	0% {
		transform: translateX(100%);  /* commence hors de l'écran à droite */
		right: -80px;
	  }
	  100% {
		transform : translateX(-100%);  /* termine hors de l'écran à gauche */
		right: 80px;
	  }
  }
  #iconescarousel{
	color : #fff;
	font-style: normal;
  }
  #copyright{
	text-align: center;
	font-size: 1em;
	margin-bottom: 10%;
  }



/* ******************** */
/*    PAGE PORTFOLIO    */
/* ******************** */

/**
* Background Image
*/
.bg-image {
	background-size: cover;
	background-position: center center;
	position: relative;
	padding: 35px 0 40px;
	vertical-align: middle;
	text-align: center;
	background-color: #2d2d2d;
}
.h2portfolio{
	font-family : "Roboto";
	font-size : 2.5em;
	color : #ffff;
	margin : 3rem 0.5rem 3rem 2rem;
	padding-left : 0.5em;
	border-left: 7px solid cyan;
	text-align: left;
}
.h2portfolio span{
	color:  pink;
}
/* styles mosaique */
.mosaique{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items:center;
}
.row {
	width: 75%;
	display: flex;
	flex-direction: row; /* Pour organiser les colonnes en lignes */
	justify-content: space-evenly;
	/* align-items: stretch; */
  };
  
  .column {
	flex: 1; /* Chaque colonne occupe la même largeur */
	padding: 5px; /* Espacement entre les images */
	position: relative; /* Pour positionner le titre */
	overflow: hidden; /* Pour gérer l'effet de focus */
  }
  
  .image-container {
	position: relative; /* Pour positionner le titre */
	
  }
  
  .mosaique img {
	width: 100%;
	height: auto;
	transition: transform 0.3s ease; /* Animation pour l'effet de focus */
  }
  
  .titre-tuile {
	position: absolute;
	align-items: center;
	top: 8px;
	left: 0;
	width: 95%;
	font-family: 'Courier New', Courier, monospace;
	font-size: 2em;
	font-weight: bold;
	background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
	color: white;
	padding: 10px;
	text-align: center;
  }
  
  .column:hover img {
	transform: scale(1.1); /* Agrandissement de l'image au survol */
  }
  /* fin styles mosaique */


