/* RESET CSS */
/* Nous cassons (reset) l'effet d'héritage pour toutes les balises susceptibles d'être concernées */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,b, u, i, center, dl, dt, dd, ol, ul, li,fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}

/* POLICES */
@font-face { /* utilisation d'une police css3 à l'aide d'une url */
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"), local("Roboto"), url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
}

/* <weight>: Use a value from 100 to 900 */
.roboto-normal{
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* COULEURS */
/*
fond écran :
cyan
gris (texte): rgb(128, 128, 128)
pink
white : #ffff
solid gold (hover on nav bar)
goldenrod : rgb(218, 165, 32) / #daa520

footer : bg color : gris rgb(128, 128, 128)
*/


/* GENERAL SETTINGS */
html{
    box-sizing: border-box;
}
body{
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;

}
.container{
    display: flex; /* Ajout de Flexbox pour le conteneur principal */
    margin : 0 auto;  /* pour centrer automatiquement mon site */
    padding: 0 1.5em 0 2em; /* Ajout de padding pour espacer le contenu des bords */
}
.main-content {
    flex-grow: 2; /* Le contenu principal prend l'espace disponible */
    margin-right: 60px; /* Ajoute un espace entre le contenu principal et la sidebar */
}
.sidebar {
    width: 300px; /* Largeur fixe pour la sidebar */
    padding: 20px;
    background-color: #2d2d2d; /* Couleur de fond pour la sidebar */
    box-shadow : 4px 8px 10px 5px grey;
    /* border-left: 1px solid #ccc; Bordure à gauche pour séparer */
}
h1{
    font-family: "Roboto", serif;
    font-size: 4rem;
    color : #fff;
    margin: 20px 0 15px 0; /* Ajustement de la marge pour le centrage */
    text-align: center;
}
h2{
    font-family : "Roboto";
    font-size : 2em;
    color : #ffff;
    margin : 1rem 0.5rem 1rem 0; /* Ajustement de la marge pour l'alignement à gauche */
    padding-left : 0.5em;
    border-left: 7px solid cyan;
    text-align: left;
}
p{
    font-family : "Roboto";
    font-size: 1.25em;
}
.ulsection3 li{
    list-style-type: disc;
    font-family: "Roboto";
}
.flex-column{
    display : flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start; /* Correction pour aligner à gauche */
}
.flex-row{
    display : flex;
    flex-direction: row;
    justify-content:left;
    align-items: center; /* Ajout d'alignement vertical par défaut */
}
/* HEADER */
/* NAV BAR */
.navbar{
    width: 100%;
    margin: 0 auto 40px auto;
    position: sticky;
    top: 0;
    padding: 30px 0 30px;
    background-color: rgba(0, 0, 0, 0.4); /* Assure que la navbar est visible sur le fond sombre */
    z-index: 10; /* Assure que la navbar est au-dessus des autres éléments */
}
.navbarul{
    list-style-type: none;
    padding: 0; /* Suppression du padding par défaut de la liste */
    margin: 0; /* Suppression de la marge par défaut de la liste */
    display: flex; /* Utilisation de Flexbox pour aligner les éléments horizontalement */
    justify-content: space-around; /* Espacement égal entre les éléments */
}
.navbarul li{
    text-align: center;/* Centre le texte dans les éléments de menu */
    font-size: 1.25em;
}
.navbar li a{
    display: block; /* Toute la surface sera cliquable et prendra la largeur de l'élément li */
    text-decoration: none;
    color:#fff;
    font-family: 'Roboto';
    border-bottom: 2px solid transparent;/*Evite le décalage des éléments sous le menu à cause de la bordure en :hover*/
    padding: 10px 15px;/* Agrandit la zone cliquable et espace le texte */
}

.navbar li a:hover{
    color: cyan;
    border-bottom: 2px solid gold;
}

/* ******************** */
/* PAGE INDEX - ACCUEIL */
/* ******************** */

/* SECTION 1  WARNINGS */
#warning1, #warning3{
    display: block; /* Correction pour que les warnings prennent toute la largeur */
    width: 100%;
    border-bottom: 8px solid blue;
    border-top: 8px solid green;
    background-color: crimson;
    font-size: 1.5em;
    line-height: 1.3; /* Amélioration de l'interligne */
    text-align: center;
    color: #000;
    padding : 10px 15px;
    animation-name: defilement-ltr;
    animation-duration: 18s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: relative;
    overflow: hidden;
    margin-bottom: 1em; /* Ajout de marge en bas pour l'espacement */
}
#warning1{
    margin-top: 1em;
    font-size: 2.5em;
}
#warning2{
    display: block; /* Correction pour que le warning prenne toute la largeur */
    width: 100%;
    border-bottom: 8px solid cyan;
    border-top: 8px solid cyan;
    background-color: goldenrod;
    font-size: 2em;
    font-style: italic;
    line-height: 1.3; /* Amélioration de l'interligne */
    text-align: center;
    color: #000;
    padding : 10px 15px;
    animation-name: defilement-rtl;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: relative;
    overflow: hidden;
    margin-bottom: 1em; /* Ajout de marge en bas pour l'espacement */
}

@keyframes defilement-ltr {
    0% {
        transform : translateX(-100%);
      }
      100% {
        transform : translateX(100%);
      }
  }

  @keyframes defilement-rtl {
    0% {
        transform: translateX(100%);
      }
      100% {
        transform : translateX(-100%);
      }
  }

/* SECTION 2 A PROPOS */

.apropos {
    transition: opacity 0.5s ease; /* Ajoute une transition sur l'opacité */
}
.hidden{
    display: none;
}
.show{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items:flex-start;
}
#apropostitre h2{
	font-size: 3em;
}

#second > p:first-of-type{
    font-size: 2.5em;
    text-align: center;
    margin: 0.25em 0 1em 0;
    color: rgb(128, 128, 128);
}
#second p{
    font-size: 1.25em; /* Réduction de la taille de la police pour le texte à propos */
    text-align: left;
    margin: 1em 0 1em 0; /* Suppression de la marge à gauche, gérée par .apropos flex-row */
}
.apropos.flex-row {
    align-items: flex-start; /* Alignement des éléments photo et texte en haut */
    margin-bottom: 3em; /* Ajout de marge en bas pour séparer les sections */
}
#photo{
    width: 15%;
    padding: 0.20em;
    margin-right: 20px; /* Ajout de marge à droite pour espacer la photo du texte */
    margin-top : 1em;
}
#photo img{
    max-width: 100%; /* L'image ne dépasse pas la largeur de son conteneur */
    height : auto; /* Garde les proportions de l'image */
    display: block; /* Supprime l'espace potentiel en bas de l'image */
    margin: 0; /* Suppression des marges spécifiques à l'image, gérées par le conteneur photo */
}
#texteapropos{
    width: 85%;
    font-size: 1em; /* Ajustement de la taille de la police du texte à propos */
    align-items: flex-start;
    padding-right: 0; /* Suppression du padding à droite, géré par le conteneur principal */
    margin-top: 1em;
}
#texteapropos span{
    color: pink;
    font-weight: bold;
}


/* SECTION 3 COMPETENCES & STACK (Désormais dans l'aside) */

/* Mon stack (Désormais dans l'aside) */
#monstacktitre {
    position: relative;
}

.titre-container {
    position: relative;
};

#monstack {
    position: relative;
    z-index: 1;
};

.flechemauve {
    position: absolute;
    z-index: 2;
    right: 10px; /* Positionnement à droite */
    top: 0.1em; /* Ajustement vertical */
};

.aside-section {
    margin-bottom: 2em; /* Espacement entre les sections de l'aside */
	margin-top: 3em;
}

.aside-section h2 {
    margin-left: 0; /* Suppression de la marge à gauche spécifique à h2 dans l'aside */
}

.aside-section ul {
    text-align: left;
    font-size: 1em;
    margin: 0.5em 0 0.5em 1.5em; /* Ajustement de la marge à gauche pour la liste dans l'aside */
    padding-left: 0; /* Suppression du padding par défaut de la liste */
    line-height: 1.75em;
}
#portfolio-button{
    text-align: center;
    margin-left: 2em;
}

/* VALEURS (Désormais dans l'aside) */
.valeurs.flex-column h2 {
    margin-left: 0; /* Suppression de la marge à gauche pour le titre des valeurs */
}
.valeurs ul {
    margin-left: 1.5em; /* Ajustement de la marge à gauche pour la liste des valeurs */
}


/* SECTION 4 PORTFOLIO */

/* SECTION 5 CONTACT */
#contact{
    justify-content: center;
    align-items: center;
    margin-top: 3em; /* Ajout de marge en haut pour l'espacement */
}
#contact p{
    font-size: 1.5em;
    text-align: center;
}

button{
    width : 16rem;
    font-family: "Roboto";
    background-color : slateblue;
    color : white;
    font-size : 1.5em;
    align-self:center;
    padding: 1.5rem;
    border-radius: 4px;
    transition: ease 1s;
    margin-top: 1em; /* Ajout de marge en haut pour l'espacement */
}

button:hover{
    box-shadow : 7px 7px 10px 5px cyan;
    background-color: rgb(44, 244, 244);
    color: #000;
    font-size: 1.75em;
    opacity: 0.7;
}
button:active {
    background-color: cyan;
    box-shadow: 0 5px #666;
    transform: translateY(10px);
  }

/* SECTION 6 FOOTER */

footer{
    background-color: rgba(128, 128, 128, 0.5);
    width: 100%;
    height: auto; /* Ajustement de la hauteur automatique */
    padding: 10px 0; /* Ajout de padding en haut et en bas */
    margin-top: 3em; /* Ajout de marge en haut pour l'espacement */
}
#carouselstack{
    display: block; /* Correction pour prendre toute la largeur */
    width: 100%;
    font-size: 1em;
    line-height: 1.3; /* Amélioration de l'interligne */
    text-align: center;
    color: #fff; /* Correction de la couleur du texte */
    padding : 10px 5px;
    animation-name: defilement-rtl;
    animation-duration: 35s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: relative;
    overflow: hidden;
}
@keyframes defilement-rtl {
    0% {
        transform: translateX(100%);
        right: -80px;
      }
      100% {
        transform : translateX(-100%);
        right: 80px;
      }
  }
  #iconescarousel{
    color : #fff;
    font-style: normal;
  }
  #copyright{
    text-align: center;
    font-size: 0.9em; /* Légère réduction de la taille de la police */
    margin-top: 10px; /* Ajout de marge en haut */
    margin-bottom: 10px; /* Ajout de marge en bas */
  }



/* ******************** */
/* PAGE PORTFOLIO    */
/* ******************** */

/**
* Background Image
*/
.bg-image {
    background-size: cover;
    background-position: center center;
    position: relative;
    padding: 35px 0 40px;
    vertical-align: middle;
    text-align: center;
    background-color: #2d2d2d;
}
.h2portfolio{
    font-family : "Roboto";
    font-size : 2.5em;
    color : #ffff;
    margin : 3rem 0.5rem 3rem 0; /* Ajustement de la marge à gauche */
    padding-left : 0.5em;
    border-left: 7px solid cyan;
    text-align: left;
}
.h2portfolio span{
    color:  pink;
}
/* styles mosaique */
.mosaique{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}